.bg-container {
  position: relative;
  width: 100%;
  height: 50vh; /* Half of the viewport height */
  overflow: hidden;
}

.bg-container .bg-image {
  object-fit: cover; /* Ensures the image covers the container without stretching */
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .bg-container {
    height: 40vh; /* Slightly smaller height for smaller screens */
  }

  .bg-container .bg-image {
    object-fit: contain; /* Prevents cropping on smaller screens */
  }
}


/*for watsapp*/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  z-index: 2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
}

.whatsapp-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
